extends layout

block content
  script(src="js/indexlogic.js")
  div(ng-controller="DoitCtrl")
    div(class="navbar navbar-fixed-top")
      div.navbar-inner
        div.container
            a(class="brand hidden-phone", href="#") Marketplace
            form(class="navbar-search pull-left")
                input(type="text", class="search-query", placeholder="Search…", ng-model="query", ng-change="change()")
            ul(class="nav middle hidden-phone")
                li(class="active")
                  a(href="#") Books
                li
                  a(href="#") Furniture
                li
                  a(href="#") Housing
                li
                  a(href="#") Free Stuff
            span.over
              ul.nav
                  li
                      a.hideme Sell my textbooks
    div.answers
        table(class="table table-striped")
            tr(ng-repeat="item in items")
                td
                    b {{item.title}}
                td {{item.author}}
                td {{item.course}}

block csscontent
    link(rel='stylesheet', href="css/style.css")