extends layout

block content
  != css('style')
  != js('indexlogic')
  div(ng-controller="DoitCtrl")
      div(class="navbar navbar-fixed-top")
        div.navbar-inner
          div.container
              a(class="brand hidden-phone", href="#") Do Stuff
              form(class="navbar-search pull-left")
                  input(type="text", class="search-query", placeholder="What do you want to do?", ng-model="query")